/*
*  Sidebar
*/
@mixin center-menu{
    width: fit-content;
    margin: auto;
}
.sidebar {
  background-color: $brand-color;
  min-width: 200px;
}
.middle-header{
  position:fixed;
  padding-left:25px;
  @include center-menu;
  display:flex;
  flex-direction: column;
  h1 .site-title {
    color: white;
    padding:10px;
  }
}
.social-icons ul {
  //  @include center-menu;
  display:flex;
  flex-direction:column;
    li {
      padding:0px 5px;
      display:block;
      float:left;
      list-style: none;
    }
  }
  #profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}
