---
layout: default
---

<div class="ml-0 flex flex-col w-full">
  {% for post in site.posts %}
  <article>
    {% assign date_format = site.imo-inu.date_format | default: "%b %-d, %Y" %}
    <h2>
      <a class="block" href="{{ post.url | relative_url }}"
        >{{ post.title | escape }}</a
      >
    </h2>
    <span class="text-sm text-gray-400"
      >{{ post.date | date: date_format }}</span
    >
    {{ post.excerpt }}
  </article>
  {% endfor %}
</div>
<div class="flex justify-between">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}"> Previous </a>
  {% else %}
  <span>Previous</span>
  {% endif %}
  <span> Page: {{ paginator.page }} of {{ paginator.total_pages }} </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">Next</a>
  {% else %}
  <span>Next</span>
  {% endif %}
</div>
<p class="rss-subscribe">
  subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a>
</p>
